<header class="header">
  <div class="header-container">
    <div class="logo">
      <span class="logo-text">SupplyChainX</span>
    </div>

    <nav class="nav-menu" [class.open]="isMenuOpen">
      <a routerLink="" class="nav-link">
        <fa-icon [icon]="faHome"></fa-icon>
        Accueil
      </a>
      <a routerLinkActive="active-link" routerLink="/procurement/dashboard" class="nav-link">
        <fa-icon [icon]="faShoppingBag"></fa-icon>
        Procurement
      </a>
      <a routerLinkActive="active-link" routerLink="/production/dashboard" class="nav-link">
        <fa-icon [icon]="faIndustry"></fa-icon>
        Production
      </a>
      <a routerLinkActive="active-link" routerLink="/delivery/dashboard" class="nav-link">
        <fa-icon [icon]="faTruck"></fa-icon>
        Delivery
      </a>
    </nav>

    <div class="header-actions">


      <button class="theme-toggle" (click)="toggleTheme()"
        [attr.aria-label]="themeService.isDark() ? 'Switch to light mode' : 'Switch to dark mode'">
        @if (themeService.isDark()) {
        <!-- Sun Icon -->
        <fa-icon [icon]="faSun" class="theme-icon"></fa-icon>
        } @else {
        <!-- Moon Icon -->
        <fa-icon [icon]="faMoon" class="theme-icon"></fa-icon>
        }
      </button>

      @if (!authService.currentUser()) {
      <a href="/login" class="btn-login">Connexion</a>
      } @else {
      <div class="user-menu">
        <a routerLink="/profile" class="profile-link">
          <fa-icon [icon]="faUser"></fa-icon>
          <span class="username">{{ authService.currentUser()?.username }}</span>
        </a>
        <button class="btn-logout" (click)="authService.logout()">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
          Logout
        </button>
      </div>
      }

      <button class="menu-toggle" (click)="toggleMenu()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
  </div>
</header>